/* styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eae2b741;
    min-height: 100vh;
    overflow-y: scroll;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Encabezado */
header {
    width: 100%;
    background: radial-gradient(circle, #FCBF49, rgba(252, 191, 73, 0.8));
    padding: 10px 0;
    text-align: center;
}

header img {
    max-width: 100%;
    height: 80px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Cuerpo principal del index */
/* Estilos para el contenedor principal */
.index {
    width: 80%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap; /* Asegura que las secciones se apilen verticalmente */
    justify-content: space-around;
}

/* Estilos para las secciones de práctica */
.practice-section {
    width: 100%;
    max-width: 300px;
    margin-bottom: 3rem;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    animation: loadUp 1s ease-out;
    transition: box-shadow 0.5s ease;
}

/* Estilos para los títulos de las secciones */
.practice-section h2 {
    color: #002685;
}

/* Efecto de sombra al pasar el cursor sobre las secciones */
.practice-section img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.practice-section:hover {
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
}

.practice-section:not(:hover) {
    box-shadow: none; 
}

/* Estilos para los botones de práctica */
.practice-button {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Asegurarse de que la transformación y el cambio de color también tengan una transición */
}

/* Efecto de animación al pasar el cursor sobre los botones */
.practice-button:hover {
    transform: scale(1.1); /* Aumentar el tamaño del botón en un 10% */
    background-color: #001a5c;
    color: #fff;
    text-decoration: none;
}

/* Efecto de animación al quitar el cursor del botón */
.practice-button:not(:hover) {
    transform: scale(1); /* Volver al tamaño original del botón */
    background-color: #002685;
    color: #fff;
}

/* Añadir una animación de carga hacia arriba */
@keyframes loadUp {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Cuerpo principal del practice */
/* Estilos para el contenedor principal */
.practice {
    width: 80%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-out forwards; /* Añadir la animación de desvanecimiento */
}

#Phrase, #Traduction {
    margin: 10px 0; /* Ajusta el margen para dar espacio entre los elementos */
    text-align: center; /* Alinea el texto al centro */
}

#Phrase {
    font-size: 1.5rem;
    font-weight: bold;
}

#Traduction {
    font-size: 1.2rem;
    font-style: italic;
}

#recognizedText {
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
    text-align: center;
}

.listening-title {
    color: #00247D;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-between; /* Ajusta el espacio entre los botones */
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #00247D;
    border: none;
    border-radius: 5px; /* Esquinas redondeadas */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 10px; /* Añade margen horizontal a los botones */
}

.button-container button:hover {
    background-color: #ddd;
    color: #00247D;
}

.button-container button:disabled {
    background-color: #cccccc; /* Color de fondo gris cuando el botón está desactivado */
    cursor: not-allowed; /* Cambia el cursor a "no permitido" cuando el botón está desactivado */
}

/* Añadir una animación de desvanecimiento con retraso */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Aplicar la animación a los elementos dentro de .practice */
.practice > * {
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

/* Aplicar un retraso a la animación para cada elemento */
.practice > *:nth-child(1) { animation-delay: 0.1s; }
.practice > *:nth-child(2) { animation-delay: 0.2s; }
.practice > *:nth-child(3) { animation-delay: 0.3s; }
.practice > *:nth-child(4) { animation-delay: 0.4s; }
.practice > *:nth-child(5) { animation-delay: 0.5s; }
.practice > *:nth-child(6) { animation-delay: 0.6s; }

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Pie de página */
footer {
    background: radial-gradient(circle, #FCBF49, rgba(252, 191, 73, 0.8));
    color: #00247D;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Estilos de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Color de fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3); /* Color de la barra de desplazamiento */
    border-radius: 10px; /* Añade bordes redondeados */
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Estilos responsivos */
@media (min-width: 768px) {
    .practice-section {
        width: calc(50% - 10px); /* Ajusta el ancho de las secciones en pantallas más grandes */
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 1024px) {
    .practice-section {
        width: calc(33.33% - 10px); /* Ajusta el ancho de las secciones en pantallas aún más grandes */
    }
}
